<table class="table table-bordered table-striped">
    <thead>
        <tr>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model.StudentInfo)
        {
            <tr>
                <td></td>
            </tr>

        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-action="" asp-controller="">Back to Form</a>
</div>