@{
    ViewData["Title"] = "Delete";
}
@model StudentInfo

<h2>
    Confirm Deletion
</h2>
<h3>Are you sure that you would like to delete the record of @Model.FirstName @Model.LastName?</h3>
<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="ViewStudentInfo" class="btn btn-primary">Cancel</a>
    <input type="hidden" asp-for="EmpID" />
</form>